<div class="w-full h-10 bg-blue-700 flex items-center">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <marquee class="container text-white font-bold">Welcome to our New website! We are thrilled to have you here. Explore our pages to discover valuable information, resources, and insights tailored to your needs. Whether you're seeking knowledge, services, or simply looking to connect, we're here to assist you on your journey. Enjoy your visit!
        </marquee>
    </div>
</div>