<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="pswp-gallery" id="my-gallery">
         <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                <div class="grid gap-4">
                    <div>
                        <a
                            href="/images/Gallery/1.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/1.JPG" alt="product image" />
                        </a>
                    </div>
                    <div>
                        <a
                            href="/images/Gallery/2.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/2.JPG" alt="product image" />
                        </a>
                    </div>
                    <div>
                        <a
                            href="/images/Gallery/3.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/3.JPG" alt="product image" />
                        </a>
                    </div>
                </div>

                <div class="grid gap-4">
                    <div>
                        <a
                            href="/images/Gallery/4.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/4.JPG" alt="product image" />
                        </a>
                    </div>
                    <div>
                        <a
                            href="/images/Gallery/5.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/5.JPG" alt="product image" />
                        </a>
                    </div>
                    <div>
                        <a
                            href="/images/Gallery/6.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/6.JPG" alt="product image" />
                        </a>
                    </div>
                </div>

                <div class="grid gap-4">
                    <div>
                        <a
                            href="/images/Gallery/7.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/7.JPG" alt="product image" />
                        </a>
                    </div>
                    <div>
                        <a
                            href="/images/Gallery/8.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/8.JPG" alt="product image" />
                        </a>
                    </div>
                    <div>
                        <a
                            href="/images/Gallery/9.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/9.JPG" alt="product image" />
                        </a>
                    </div>
                </div>

                <div class="grid gap-4">
                    <div>
                        <a
                            href="/images/Gallery/10.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/10.JPG" alt="product image" />
                        </a>
                    </div>
                    <div>
                        <a
                            href="/images/Gallery/12.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/12.JPG" alt="product image" />
                        </a>
                    </div>
                    <div>
                        <a
                            href="/images/Gallery/3.JPG"
                            data-pswp-width="2500"
                            data-pswp-height="1875"
                            target="_blank"
                        >
                            <img class="p-2 rounded-t-lg" src="/images/Gallery/3.JPG" alt="product image" />
                        </a>
                    </div>
                </div>

        </div>

    </div>
</div>


<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";
    
    const lightbox = new PhotoSwipeLightbox({
      gallery: "#my-gallery",
      children: "a",
      pswpModule: () => import("photoswipe")
    });
    
    lightbox.init();
    
    </script>